<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context.xsd">


<bean id="deptService" class="cn.ajajaaj.jx.service.impl.DeptServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>

<bean id="userService" class="cn.ajajaaj.jx.service.impl.UserServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
	<property name="mailMessage" ref="mailMessage"></property>
	<property name="mailSender" ref="mailSender"></property>
</bean>
<bean id="roleService" class="cn.ajajaaj.jx.service.impl.RoleServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="moduleService" class="cn.ajajaaj.jx.service.impl.ModuleServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="contractService" class="cn.ajajaaj.jx.service.impl.ContractServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="contractProductService" class="cn.ajajaaj.jx.service.impl.ContractProductServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="extCproductService" class="cn.ajajaaj.jx.service.impl.ExtCproductServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="factoryService" class="cn.ajajaaj.jx.service.impl.FactoryServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="exportService" class="cn.ajajaaj.jx.service.impl.ExportServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="exportProductService" class="cn.ajajaaj.jx.service.impl.ExportProductServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
<bean id="extEproductService" class="cn.ajajaaj.jx.service.impl.ExtEproductServiceImpl">
	<property name="baseDao" ref="baseDao"></property>
</bean>
</beans>